<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051247768338-rmbhd7fejuoldvmn33qfe2u40s7hm5a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051247768338-rmbhd7fejuoldvmn33qfe2u40s7hm5a3</string>
	<key>API_KEY</key>
	<string>AIzaSyBnT0nhLxUC_3PS0EvfwI31te1JoB-MFBg</string>
	<key>GCM_SENDER_ID</key>
	<string>1051247768338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.cerdrifix.DCFirstProject</string>
	<key>PROJECT_ID</key>
	<string>yourbarbershop-e8dc5</string>
	<key>STORAGE_BUCKET</key>
	<string>yourbarbershop-e8dc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051247768338:ios:153f27a680dc59f5</string>
	<key>DATABASE_URL</key>
	<string>https://yourbarbershop-e8dc5.firebaseio.com</string>
</dict>
</plist>